<% if post.favorited_by?(current_user) %>
	<%= link_to post_favorites_path(post), method: :delete, remote: true do %>
		<i class="fas fa-heart" style="color: #e8383d;"></i>
	<% end %>
	<%= link_to favorites_post_path(post) do %>
		<span><%= post.favorites.count %></span>
	<% end %>
<% else %>
	<%= link_to post_favorites_path(post), method: :post, remote: true do %>
		<i class="far fa-heart"></i>
	<% end %>
	<%= link_to favorites_post_path(post) do %>
		<span><%= post.favorites.count %></span>
	<% end %>
<% end %>