<% users.each do |user| %>
	<div class="follow-user">
		<div><%= link_to user_path(user) do %>
			<%= attachment_image_tag user, :icon_image, size: "60x60", fallback: "default-user-image.png", class: "icon-image" %>
			<% end %>
		</div>

		<div class="name">
			<p><%= user.name %></p>
			<p><span>@<%= user.username %></span></p>
		</div>

		<div class="follow">
			<%= link_to following_user_path(user) do %>
				<%= user.followings.count %> <span>フォロー</span>
			<% end %>
		</div>

		<div class="follow">
			<%= link_to followers_user_path(user) do %>
				<p id="follower_count"><%= user.followers.count %></p> <span>フォロワー</span>
			<% end %>
		</div>

		<div class="actions">
			<% if user_signed_in? %>
				<span id="follow-button-<%= user.id %>"><%= render 'relationships/follow', user: user %></span>
			<% end %>
	  </div>
	</div>
<% end %>