<div class="main">
	<div class="">
	<%= form_for(@user) do |f| %>
		<%= attachment_image_tag @user, :icon_image, :fill, 180, 180 %><br>
		<%= f.attachment_field :icon_image %>
		<div class="">
			<%= f.label :name, "名前" %><br>
			<%= f.text_field :name %>
		</div>
		<div class="">
			<%= f.label :profile, "プロフィール" %><br>
			<%= f.text_area :profile %>
		</div>
		<%= f.submit "更新" %>
	<% end %>
</div>
</div>