<div class="main">
	<div class="user-page">
		<div class="profile">
			<div class="icon-image">
				<%= attachment_image_tag @user, :icon_image, :fill, 100, 100 %>
			</div>
			<div class="p-profile">
				<p class="p-name">
					<strong><%= @user.name %></strong>
					<span>@<%= @user.username %></span>
				</p>
				<%= @user.profile %>
			</div>
			<div class="actions">
				<% if current_user != @user %>
	        <span id="follow-button-<%= @user.id %>"><%= render 'relationships/follow', user: @user %></span>
	    	<% else %>
					<%= link_to edit_user_path(current_user), class: "btn btn-outline-secoundly" do %>
						<i class="fas fa-user-edit"></i>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="user-nav">
			<p><strong><%= @posts.count %></strong> 投稿</p>
			<p>
				<i class="fas fa-heart" style="color: red;"></i>
				<strong><%= link_to @favorites.count, favorites_user_path(@user) %></strong>
			</p>
			<p><strong><%= link_to @following.count, following_user_path(@user) %></strong> follow</p>
			<p><strong><%= link_to @followers.count, followers_user_path(@user) %></strong> follower</p>
		</div>
		<!-- ユーザーのポスト一覧 -->
		<div class="post-index" id="user-post-index">
			<%= render 'posts/post_index', posts: @posts %>
		</div>
		<!-- もっと見る -->
		<%= link_to_next_page @posts, 'more', id: "more-user-post-index", class: "more-btn", remote: true %>
	</div>
</div>