<div class="devise-container">
	<div class="input-box">
		<h5><i class="fas fa-key"></i>パスワードをお忘れですか？</h5>
		<span>会員登録時に登録されたメールアドレスを入力してください。パスワード再設定ページへのメールをお送りします。</span>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>

		  <div class="field">
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
		  </div>

		  <div class="actions">
		    <%= f.submit "送信", class: "btn btn-outline-primary" %>
		  </div>
		<% end %>

		<span><%= render "devise/shared/links" %></span>
	</div>
</div>
