<div class="search-container">
	<h4>音楽を見つける</h4>
	<p>キーワードやジャンル別で音楽を見つけることができます。カテゴリーで絞るとさらに詳細検索ができます。</p>
	<div class="keyword-search">
		<h5>キーワードで検索</h5>
		<!-- 曲、アルバム、アーティストの検索窓 -->
		<%= form_tag(search_path, method: :get) do %>
			<div class="search-bar">
				<%= text_field_tag :search, "", placeholder: "キーワードを入力" %>
			</div>
			<p>カテゴリーをしぼる</p>
			<div class="radio-tile-box">
				<div class="input-container">
					<!-- radio-buttonは非表示 -->
					<%= radio_button_tag :detail, "song", false, class: "radio-button" %>
					<!-- radio-tileを設置 -->
					<div class="radio-tile">
						<i class="fas fa-music"></i>
						<%= label_tag :detail_song, 'song', class: "radio-tile-label" %>
					</div>
				</div>
				<div class="input-container">
					<%= radio_button_tag :detail, "album", false, class: "radio-button" %>
					<div class="radio-tile">
						<i class="fas fa-compact-disc" for="detail_album" ></i>
						<%= label_tag :detail_album, 'album', class: "radio-tile-label" %>
					</div>
				</div>
				<div class="input-container">
					<%= radio_button_tag :detail, "artist", false, class: "radio-button" %>
					<div class="radio-tile">
						<i class="fas fa-user-circle"></i>
						<%= label_tag :detail_artist, 'artist', class: "radio-tile-label" %>
					</div>
				</div>
			</div>
			<div class="actions">
				<%= submit_tag '検索' %>
			</div>
		<% end %>
	</div>
	<!-- ジャンル検索 -->
	<div class="genre-search">
		<h5>ジャンルで検索</h5>
		<div class="genre-items">
			<% @genres.each do |genre| %>
				<span class="genre-item">
					<%= link_to genre.name, genre_path(genre), class: "btn btn-outline-warning btn-original" %>
				</span>
			<% end %>
		</div>
	</div>
</div>
