<%= form_for(post) do |f| %>
	<!-- エラーメッセージ -->
	<%= render 'layouts/error_message', post: post %>

	<div class="row justify-content-center">
		<!-- 投稿フォーム -->
		<div class="col-lg-5 col-md-7 col-11">
			<div class="input-post-image">
				<%= attachment_image_tag post, :post_image, size: "350x250", id: "img", fallback: "post-image.jpg", onClick: "$('#file').click()" %>
				<i class="fas fa-file-upload add"></i>
				<%= f.attachment_field :post_image, id: "file" %>
			</div>
		</div>

		<div class="col-lg-5 col-md-7 col-11">
			<div class="form-group">
				<%= f.text_field :song, placeholder: "曲", class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.text_field :album, placeholder: "アルバム",  class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.text_field :artist, placeholder: "アーティスト",  class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.collection_select :genre_id, Genre.all, :id, :name, {:include_blank => "ジャンルを選択してください"}, {class: "form-control"} %>
			</div>
			<div class="form-group">
				<%= f.text_area :url, placeholder: "おすすめのYoutubeの動画やSpotifyの曲などのリンクを貼ってください",  class: "form-control" %>
			</div>
			<div class="form-group">
				<%= f.text_area :body, placeholder: "おきにいりポイント",  class:"form-control", rows: 4 %>
			</div>
		</div>
	</div>

	<div class="actions">
		<%= f.submit class: "btn btn-dark" %>
	</div>
<% end %>