<div class="container">
	<div class="post-show">
		<div class="post col-8 offset-2">
			<div class="post-user">
				<%= link_to user_path(@post) do %>
				<%= attachment_image_tag @post.user, :icon_image, :fill, 60, 60, fallback: "noimage.png", size: "60x60" %>
				<% end %>
				<%= @post.user.username %>
				<%= @post.user.name %>
			</div>
			<%= link_to post_path(@post) do %>
				<div class="row post-content">
					<div class="col-6">
						<%= attachment_image_tag @post, :post_image, :fill, 250, 250  %>
					</div>
					<div class="col-6">
						<p><%= @post.song %></p>
						<p><%= @post.album %></p>
						<p><%= @post.artist %></p>
						<p><%= @post.body %></p>
					</div>
				</div>
			<% end %>
			<div class="">
				<span>おきにいり</span>
				<span><%= @comments.count %>コメント</span>
			<div class="row comment">
				<% @comments.each do |comment| %>
					<%= comment.comment %>
					<%= link_to 'X', post_comment_path(@post, comment), method: :delete %>
				<% end %>
				<%= form_for [@post, @comment] do |f| %>
					<%= f.text_area :comment %>
					<%= f.submit "投稿" %>
				<% end %>
			</div>
	</div>
</div>