<div class="container">
	<div class="post-show">
		<div class="post col-8 offset-2">
			<div class="post-user">
				<%= link_to user_path(@post) do %>
				<%= attachment_image_tag @post.user, :icon_image, :fill, 60, 60, fallback: "noimage.png", size: "60x60" %>
				<% end %>
				<%= @post.user.username %>
				<%= @post.user.name %>
			</div>
			<%= link_to post_path(@post) do %>
				<div class="row post-content">
					<div class="col-6">
						<%= attachment_image_tag @post, :post_image, :fill, 250, 250  %>
					</div>
					<div class="col-6">
						<% if @post.song != nil %>
							<p><i class="fas fa-music"></i>
							<strong>　<%= @post.song %></strong></p>
						<% end %>
						<% if @post.album != nil %>
							<p><i class="fas fa-compact-disc"></i>
							<strong>　<%= @post.album %></strong></p>
						<% end %>
						<p><i class="fas fa-user-circle"></i>
							<strong>　<%= @post.artist %></p></strong>
						<p><i class="fas fa-pen-square"></i>
							　<%= @post.body %></p>
					</div>
				</div>
			<% end %>
			<div class="reactions">
				<% if @post.favorited_by?(current_user) %>
					<%= link_to post_favorites_path(@post), method: :delete do %>
						<i class="fas fa-star"></i>
					<% end %>
					<span><%= @favorites.count %>おきにいり</span>
				<% else %>
					<%= link_to post_favorites_path(@post), method: :post do %>
						<i class="far fa-star"></i>
					<% end %>
					<span><%= @favorites.count %>おきにいり</span>
				<% end %>
				<i class="far fa-comment"></i>
				<span><%= @comments.count %>コメント</span>
			<div class="row comment-box">
				<% @comments.each do |comment| %>
					<%= comment.comment %>
					<%= link_to 'X', post_comment_path(@post, comment), method: :delete %>
				<% end %>
				<%= form_for([@post, @comment]) do |f| %>
					<%= f.text_area :comment %>
					<%= f.submit "送信" %>
				<% end %>
			</div>
	</div>
</div>